.rootLayout {
    padding: 16px 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: px;
        font-weight: 600;
      }
    }
  
    /* main {
      flex: 1;
      overflow: hidden;
    } */
  }
  