.rootLayout {
    padding: 16px 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      
      span {
        font-size: 18px;
        font-weight: 600;
        display: flex;
        h3{
          background: linear-gradient(to right, #217bfe, #e55571);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
  
    main {
      flex: 1;
      overflow: hidden;
    }
  }
  